.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 37.5em) {
  .toggle {
    order: 2;
    margin-bottom: 1.5rem;
    z-index: 0;
  }
}

.checkbox {
  /* visually hidden, sr only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.label {
  display: flex;
  width: 9rem;
  height: 2.8rem;
  position: relative;
  font-weight: 900;
  font-size: 0.8rem;
  background-color: hsl(var(--color-primary-light-yellow));
}

@media (min-width: 37.5em) {
  .label {
    font-size: 1rem;
    cursor: pointer;
  }

  .label:hover .selected {
    background-color: hsl(var(--color-primary-dark-red));
  }
}

.span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: hsl(var(--color-primary-orange));
  z-index: 5;
  transition: color 0.3s ease;
}

.checked {
  color: hsl(var(--color-light-grey));
}

.selected {
  height: 100%;
  width: 50%;
  right: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--color-light-grey));
  background-color: hsl(var(--color-primary-red));
  transition: right 0.2s ease, background-color 0.2s;
}

.selected.move {
  right: 0;
}

.searchby {
  font-size: 0.8rem;
  font-weight: 900;
  color: hsl(var(--color-light-grey));
}

@media (min-width: 37.5em) {
  .searchby {
    font-size: 1rem;
    align-self: flex-start;
  }
}

@media (min-width: 37.5em) {
  .hidden {
    visibility: hidden;
  }
}
